body{
    font:verdana;
    font-weight: bold;
    margin:0;
    height:150vh;
    

}
.header{
    height:100%;
    background-image: url(../plik/img/man-1.jpg);
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.background-img {
    padding:15px;
    position: absolute;
    
}

.best{
    font-size:20px;
    text-transform: uppercase;
    color:#fff;
    margin-bottom: 10px;
}
.front {
    font-size:40px;
    text-transform: uppercase;
    color:#fff;
}