body{
    font:verdana;
    font-weight: bold;
    margin:0;
    

}
.header{
    height:100vh;
    background-image: url("img/man-1.jpg");
    width:auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.background-img {
    padding:15px;
    
    
}

.best{
    font-size:20px;
    text-transform: uppercase;
    color:#fff;
    margin-bottom: 10px;
}
.front {
    font-size:35px;
    text-transform: uppercase;
    color:#fff;
}