/* container main */
body{
    width:500px;
    height:550px;

}
.container {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:10px;
    background-color: dimgrey;
    width:500px;
    height:500px;
}


.container .header {
    border: 2px solid black;
    height:350px;
    width:350px;
    margin:0;
    margin-top:50px;
    margin-bottom: 20px;
    background-color: cadetblue;
}
.container .header h1 {
    margin-top: -35px;
}

/* balls in header */
.container .header .pileczka {
    float:left;
    background-color: yellow;
    border-radius: 50%;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    margin:5px;
    
    border: 1px solid #000;
}
.container .header .pileczka2 {
    float:left;
    background-color: red;
    border-radius: 50%;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    margin:5px;
    border: 1px solid #000;
}
.container .btn{
    margin: 0 auto;
    display:block;
    background-color:pink;
    padding: 5px 10px;
    transition: .3s;
}
.container .btn:hover{
    background-color: palevioletred;
    
}
.container .btn-r{
    margin: 0 auto;
    display:block;
    background-color:blueviolet;
    padding: 5px 10px;
    transition: .3s;
}
.container .btn-r:hover{
    background-color:blue;
}
.container .btn-all{
    margin: 0 auto;
    display:block;
    background-color:red;
    padding: 5px 10px;
    transition: .3s;
}
.container .btn-all:hover{
    background-color:lightsalmon;
}

.randomBall {
    float:left;
    background-color: yellow;
    border-radius: 50%;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align:center;
    margin:20px;
    border: 2px solid #000;

}